
ul{
    display: flex;
    direction: row;
    justify-content: space-around;
    list-style: none;
    li{
        .round{
            border-radius: 50%;
            border: 2px solid black;
            width: 80px;
            height: 80px;
            &:hover{
                border: 2px solid grey;
                background: lightgray;
            }
        }
    }
}