
.SiteHeader{
    background: purple;
    height: 50px;
    color: white;
    font-weight: 200px;
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        color: white;
        font-weight: 200px;

    }
}